.scaninput{
  margin: 100px;
}
.scaninput input{
  height: 60px;
  border-right: none;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.scaninput input:focus{
  border:1px solid #00b300;
  border-right: none;
  box-shadow: 1px -1px 5px #b3ffb3, -1px 1px 8px #b3ffb3;
}
.scaninput span{
  font-size: 40px;
  background-color: #fff;
  border-left: none;
}
