#addpatient-modal{
	font-size: 12px;
}
#addpatient-modal .modal-content{
	background-color: #f5f8fa;
}
#addpatient-modal .modal-header, #addpatient-modal .modal-footer{
	padding: 8px;
}
#addpatient-modal .modal-body input{
	height: 50px;
	
	font-size: 18px;
	text-align: center;
	border: 1px solid rgb(0, 179, 0);
}
@media screen and (min-width: 768px){
    #addpatient-modal .modal-dialog{
    	width: 500px;
    }
}