#recordsModal thead th{
    font-size: 13px;
    background-color: #eee;
    padding: 10px;
}
#recordsModal tr td{
    font-size: 12px;
}
#recordsModal .loaderWrapper{
    margin-left: 45%;
}
input[type="number"]{
    width: 60px;
    height: 30px;
    font-size: 13px;
    outline: none;
}
input[type="number"]:focus{
    border: 1px solid #333;
}